--exclude build,.derivedData,.build,LiricoPackage/.build,scripts/**/.build,Lirico/Utility/Then.swift,Lirico/Utility/CXExtensions
--acronyms ID,URL,UUID
--allman false
--anonymousforeach ignore
--assetliterals visual-width
--asynccapturing 
--beforemarks 
--binarygrouping ignore
--callsiteparen default
--categorymark "MARK: %c"
--classthreshold 0
--closingparen balanced
--closurevoid remove
--commas always
--complexattrs preserve
--computedvarattrs preserve
--condassignment after-property
--conflictmarkers reject
--dateformat system
--decimalgrouping ignore
--doccomments before-declarations
--elseposition same-line
--emptybraces no-space
--enumnamespaces always
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-declarations
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes preserve
--generictypes 
--groupblanklines true
--groupedextension "MARK: %c"
--guardelse auto
--header ignore
--hexgrouping ignore
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping length
--indent 4
--indentcase false
--indentstrings false
--inferredtypes always
--initcodernil false
--inlinedforeach ignore
--lifecycle 
--lineaftermarks true
--linebreaks lf
--markcategories false
--markextensions always
--marktypes always
--maxwidth none
--modifierorder public,private,internal,fileprivate,fileprivate(set),internal(set),private(set),override,required,lazy,weak
--nevertrailing 
--nilinit remove
--noncomplexattrs 
--nospaceoperators 
--nowrapoperators 
--octalgrouping ignore
--operatorfunc spaced
--organizationmode visibility
--organizetypes actor,class,enum,struct
--patternlet inline
--preservedecls 
--preservedsymbols Package
--propertytypes infer-locals-only
--ranges spaced
--self init-only
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--someany true
--sortedpatterns 
--storedvarattrs preserve
--stripunusedargs unnamed-only
--structthreshold 0
--tabwidth 4
--throwcapturing 
--timezone system
--trailingclosures 
--trimwhitespace always
--typeattributes preserve
--typeblanklines remove
--typedelimiter space-after
--typemark "MARK: - %t"
--typemarks 
--typeorder 
--visibilitymarks 
--visibilityorder 
--voidtype void
--wraparguments before-first
--wrapcollections preserve
--wrapconditions preserve
--wrapeffects preserve
--wrapenumcases always
--wrapparameters default
--wrapreturntype preserve
--wrapternary default
--wraptypealiases preserve
--xcodeindentation disabled
--yodaswap always
--disable blankLinesBetweenChainedFunctions,docCommentsBeforeModifiers,leadingDelimiters,opaqueGenericParameters,preferForLoop,preferKeyPath,redundantBackticks,redundantBreak,redundantClosure,redundantGet,redundantInternal,redundantReturn,sortDeclarations,sortImports,sortTypealiases,todos,unusedArguments,wrapAttributes,wrapMultilineStatementBraces,headerFileName
--enable blankLinesBetweenImports,blockComments,wrapEnumCases,wrapSwitchCases
